{% extends "index.html" %}

{% load staticfiles %}

{% block css %}
    {{block.super}}
    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
    <style type="text/css">
        ul.errorlist {
            margin: 0;
            padding: 0;
        }
        .errorlist li {
            background-color: red;
            color: white;
            display: block;
            font-size: 10px;
            margin: 0 0 3px;
            padding: 4px 5px;
        }
    </style>
{% endblock %}

{% block titulo %}
<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Creación de un Trabajo Dirigido</h2>

            </div>
    </div>

{% endblock %}

{% block tdirigidos%}
class="active"
{% endblock %}
{% block tdirigidos_uno %}
class="active"
{% endblock %}

{% block content %}
<div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-7 " >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Trabajo Dirigido</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>



                            </div>
                        </div>
                        <div class="ibox-content">
                            {% if exito %}
                                <div class="alert alert-success alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <i class="fa fa-check"></i> Se ha registrado el trabajo  dirigido con exito!
                                </div>
                            {% endif %}
                            <form class="form-horizontal" method="post" action="">
                                {% csrf_token %}
                                <!-- TIPO DE TRABAJO DIRIGIDO -->
                                {{form.tipo.errors}}
                                <div class="form-group"><label class="col-lg-2 control-label">{{form.tipo.label}}</label>

                                    <div class="col-sm-6">
                                        {{form.tipo}}
                                        <!--<select class="form-control m-b" name="tipo_tdirigido">
                                            <option>Trabajo de grado de maestría o especialidad médica</option>
                                            <option>Tesis de doctorado</option>
                                            <option>Monografía de conclusión de curso de perfeccionamiento / especialización</option>
                                            <option>Trabajo de conclusión de curso de pregrado</option>
                                            <option>Iniciación científica</option>
                                            <option> Trabajos dirigidos / Tutorías de otro tipo</option>
                                        </select> -->
                                    </div>
                                </div>

                                <!-- NOMBRE TRABAJO DIRIGIDO -->
                                {{form.nombre.errors}}
                                <div class="form-group"><label class="col-lg-2 control-label">{{form.nombre.label}}</label>

                                    <div class="col-lg-6">{{form.nombre}}</div>
                                </div>

                                <!-- FECHA DE INICIO DE T DIRIGIDO -->
                                {{form.fecha_inicio.errors}}
                                <div class="form-group" id = "data_1"><label class="col-lg-2 control-label">{{form.fecha_inicio.label}}</label>
                                    <div class= "col-lg-6">
                                        <div class="input-group date ">

                                                <span class="input-group-addon "><i class="fa fa-calendar"></i>
                                                </span>
                                                {{form.fecha_inicio }}
                                                <!--<input type="text" class="form-control" value="03/04/2014">-->

                                        </div>
                                    </div>
                                </div>

                                <!-- FECHA FINALIZACION T DIRGIDO -->
                                {{form.fecha_fin.errors}}
                                <div class="form-group" id="data_1"><label class="col-lg-2 control-label">{{form.fecha_fin.label}}</label>
                                    <div class= "col-lg-6">
                                         <div class="input-group date ">

                                            <span class="input-group-addon "><i class="fa fa-calendar"></i>
                                            </span>
                                            {{form.fecha_fin}}<!--<input type="text" class="form-control" value="31/12/2019">-->
                                        </div>
                                    </div>
                                </div>

                                <!-- TIPO DE ORIENTACION T DIRIGIDO -->
                                {{form.tipo_orientacion.errors}}
                                <div class="form-group"><label class="col-lg-2 control-label">{{form.tipo_orientacion.label}}</label>

                                    <div class="col-sm-6">
                                        {{form.tipo_orientacion}}
                                       <!-- <select class="form-control m-b" name="tipo_oritdirigido">
                                            <option>Tutor principal</option>
                                            <option>Cotutor/asesor</option>
                                            <option>Asesor de orientación</option>
                                        </select>-->
                                    </div>
                                </div>

                                <!-- NOMBRE DEL ESTUDIANTE DE T DIRIGIDO-->
                                {{form.nombre_estudiante.errors}}
                                <div class="form-group"><label class="col-lg-2 control-label">{{form.nombre_estudiante.label}}</label>

                                    <div class="col-lg-6">{{form.nombre_estudiante}}<!--<input type="text" placeholder="Nombre del estudiante..." class="form-control">--></div>
                                </div>

                                <!-- PROGRAMA ACADEMICO DE T DIRIGIDO -->
                                {{form.programa_academico.errors}}
                                <div class="form-group"><label class="col-lg-2 control-label">{{form.programa_academico.label}}</label>

                                    <div class="col-lg-6">{{form.programa_academico}}<!--<input type="text" placeholder="Nombre del programa..." class="form-control">--></div>
                                </div>

                                <!-- NUMERO DE PAGINAS DE T DIRGIDO -->
                                {{form.numero_paginas.errors}}
                                <div class="form-group"><label class="col-lg-2 control-label">{{form.numero_paginas.label}}</label>

                                    <div class="col-lg-6">{{form.numero_paginas}}<!--<input type="number" min="0" class="form-control">--></div>
                                </div>

                                <!-- VALORACION T DIRIGIDO -->
                                {{form.valoracion.errors}}
                                <div class="form-group"><label class="col-lg-2 control-label">{{form.valoracion.label}}</label>

                                    <div class="col-sm-6">
                                        {{form.valoracion}}
                                        <!--<select class="form-control m-b" name="valoracion">
                                            <option>Aprobada</option>
                                            <option>Distinción meritoria</option>
                                            <option>Distinción laureada</option>
                                        </select>-->
                                    </div>
                                </div>

                                <!-- INSTITUCION T DIRIGIDO -->
                                {{form.institucion.errors}}
                                <div class="form-group"><label class="col-lg-2 control-label">{{form.institucion.label}}</label>

                                    <div class="col-lg-6">{{form.institucion}}<!--<input type="text" placeholder="Nombre de la institucion..." class="form-control">--></div>
                                </div>

                                <!-- AUTORES DE T DIRIGIDO-->
                                {{form.autores.errors}}
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">{{form.autores.label}}</label>
                                    <div class="col-lg-6">
                                        {{form.autores}}

                                            <!--<select data-placeholder="Elija los autores..." class="form-control chosen-select" multiple  tabindex="4">
                                                <option value="">Select</option>
                                                <option value="United States">United States</option>
                                                <option value="United Kingdom">United Kingdom</option>
                                                <option value="Afghanistan">Afghanistan</option>
                                                <option value="Aland Islands">Aland Islands</option>
                                            </select>-->

                                    </div>
                                </div>

                                <!-- DIRECTOR T DIRIGIDO -->
                                {{form.director.errors}}
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">{{form.director.label}}</label>
                                    <div class="col-lg-6">
                                        {{form.director}}

                                            <!--<select data-placeholder="Elija los autores..." class="form-control chosen-select" multiple  tabindex="4">
                                                <option value="">Select</option>
                                                <option value="United States">United States</option>
                                                <option value="United Kingdom">United Kingdom</option>
                                                <option value="Afghanistan">Afghanistan</option>
                                                <option value="Aland Islands">Aland Islands</option>
                                            </select>-->

                                    </div>
                                </div>

                                <!-- BOTON DE REGISTRAR DE T DIRIGIDO -->
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-lg btn-danger" type="submit">Registrar</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock %}

{% block js %}
   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
   <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
   <script type="text/javascript">
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, no se encontró nada!'},
                '.chosen-select-width'     : {width:"95%"}
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }

   </script>
{% endblock %}
