{% extends "index.html" %}

{% load staticfiles %}

{% block css %}
{{block.super}}
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %} " rel="stylesheet">
<link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">

<style type="text/css">
            ul.errorlist {
                margin: 0;
                padding: 0;
            }
            .errorlist li {
                background-color: red;
                color: white;
                display: block;
                font-size: 10px;
                margin: 0 0 3px;
                padding: 4px 5px;
            }
</style>
{% endblock %}

{% block articulo_nolg %}
class="active"
{%endblock%}
{% block articulo%}
class="active"
{% endblock %}
{% block articulo_dos %}
class="active"
{% endblock %}

{% block titulo %}
<div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>Listado de artículos</h2>

            </div>
    </div>

{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Información de los artículos producidos en GEDI</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                         </a>
                    </div>
             </div>
             <!-- Se agrega estílo de elemento para colocar un scroll, esto es util cuando la tabla es muy larga -->
             <div class="ibox-content" style="overflow-x:auto;">

                <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Autores</th>
                        <th>Tipo de artículo</th>
                        <th>Título</th>
                        <th>Página inicial</th>
                        <th>Página final</th>
                        <th>Idioma</th>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Revista</th>
                        <th>Volumen</th>
                        <th>Fascículo</th>
                        <th>Serie</th>
                        <th>País revista</th>
                        <th>Ciudad revista</th>
                        <th>Medio divulgación</th>
                        <th>Sitio Web</th>
                        <th>DOI</th>
                        {% if user.is_authenticated%}
                            <th>Editar</th>
                            <th>Estado</th>
                            <th>Desactivar/Reactivar</th>
                        {% endif %}
                    </tr>
                    </thead>

                    <tbody>

                    {% for art in articulos %}
                        <tr class="gradeX">
                            <td>{{art.lista_autores}}</td>
                            <td>{{art.tipo_articulo}}</td>
                            <td class="center">{{art.titulo_articulo}}</td>
                            <td>{{art.pagina_inicial}}</td>
                            <td>{{art.pagina_final}}</td>
                            <td>{{art.idioma}}</td>
                            <td>{{art.anio}}</td>
                            <td>{{art.mes}}</td>
                            <td>{{art.revista}}</td>
                            <td>{{art.volumen}}</td>
                            <td>{{art.fasciculo}}</td>
                            <td>{{art.serie_revista}}</td>
                            <td>{{art.pais}}</td>
                            <td>{{art.ciudad}}</td>
                            <td>{{art.medio_divulgacion}}</td>
                            <td>{{art.sitio_web}}</td>
                            <td>{{art.DOI}}</td>
                            {% if user.is_authenticated %}
                                {%if art.activo %}
                                    <td><p><span class="badge badge-primary">Activo</span></p></td>
                                {%else%}
                                    <td><p><span class="badge badge-danger">Inactivo</span></p></td>
                                {%endif%}
                                <td><a href="/articulo/editar/{{art.id}}/"><button class="btn btn-xs btn-info dim"><i class="fa fa-paste"></i> Editar</button></a></td>
                                    {%if art.activo %}
                                        <td><a href="/articulo/des-activacion/{{art.id}}/"><button class="btn btn-xs btn-danger dim"><i class="fa fa-check-square-o"></i> Desactivar</button></a></td>
                                    {%else%}
                                        <td><a href="/articulo/des-activacion/{{art.id}}/"><button class="btn btn-xs btn-success dim"><i class="fa fa-check-square"></i> Reactivar</button></a></td>
                                    {%endif%}
                            {% endif %}
                        </tr>
                    {%endfor%}
                    </tbody>

                    <tfoot>
                    <tr>
                        <th>Autores</th>
                        <th>Tipo de artículo</th>
                        <th>Título</th>
                        <th>Página inicial</th>
                        <th>Página final</th>
                        <th>Idioma</th>
                        <th>Año</th>
                        <th>Mes</th>
                        <th>Revista</th>
                        <th>Volumen</th>
                        <th>Fascículo</th>
                        <th>Serie</th>
                        <th>País revista</th>
                        <th>Ciudad revista</th>
                        <th>Medio divulgación</th>
                        <th>Sitio Web</th>
                        <th>DOI</th>
                        {% if user.is_authenticated%}
                            <th>Editar</th>
                            <th>Estado</th>
                            <th>Desactivar/Reactivar</th>
                        {% endif %}
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- A Continuación se incluirá el código que será tenido en cuenta para la edición de un artículo cuando se presiona el botón 'Editar'
        El código incluye un botón invisible, un modal y un script que hará clic en el botón para que salga el modal con el formulario lleno
        con la información del integrante en cuestión-->

{% if edicion %}
    <button type="button" id="botonModalEdicion" class="btn btn-primary" data-toggle="modal" data-target="#editarArticulo" style="display:none;"></button>

    <div class="modal inmodal" id="editarArticulo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-font modal-icon"></i>
                    <h4 class="modal-title">Editar Artículo</h4>
                    <small class="font-bold">Por favor modifique a continuación los campos deseados y dé clic en guardar cambios cuando haya terminado, de lo contrario de clic en cancelar.</small>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            {{form_edicion.autores.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.autores.label}}</label>
                            <div class="col-lg-6">
                                {{form_edicion.autores}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.tipo_articulo.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.tipo_articulo.label}}</label>
                            <div class="col-lg-6">
                                {{form_edicion.tipo_articulo}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.titulo_articulo.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.titulo_articulo.label}}</label>
                            <div class="col-lg-6">{{form_edicion.titulo_articulo}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.pagina_inicial.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.pagina_inicial.label}}</label>
                            <div class="col-lg-6">{{form_edicion.pagina_inicial}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.pagina_final.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.pagina_final.label}}</label>
                            <div class="col-lg-6">{{form_edicion.pagina_final}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.idioma.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.idioma.label}}</label>
                            <div class="col-lg-6">
                                {{form_edicion.idioma}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.anio.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.anio.label}}</label>
                            <div class="col-lg-6">{{form_edicion.anio}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.mes.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.mes.label}}</label>
                            <div class="col-lg-6">
                                {{form_edicion.mes}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.revista.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.revista.label}}</label>
                            <div class="col-lg-6">{{form_edicion.revista}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.volumen.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.volumen.label}}</label>
                            <div class="col-lg-6">{{form_edicion.volumen}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.fasciculo.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.fasciculo.label}}</label>
                            <div class="col-lg-6">{{form_edicion.fasciculo}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.serie_revista.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.serie_revista.label}}</label>
                            <div class="col-lg-6">{{form_edicion.serie_revista}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.pais.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.pais.label}}</label>
                            <div class="col-lg-6">{{form_edicion.pais}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.ciudad.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.ciudad.label}}</label>
                            <div class="col-lg-6">{{form_edicion.ciudad}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.medio_divulgacion.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.medio_divulgacion.label}}</label>
                            <div class="col-lg-6">
                                {{form_edicion.medio_divulgacion}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.sitio_web.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.sitio_web.label}}</label>
                            <div class="col-lg-6">{{form_edicion.sitio_web}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.DOI.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.DOI.label}}</label>
                            <div class="col-lg-6">{{form_edicion.DOI}}</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" href="/articulo/mostrar" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endif%}
<!-- Fin código de edición -->
{% endblock %}

{% block js %}
       <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
   <!-- Chosen -->
   <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
   <script type="text/javascript">
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, no se encontró nada!'},
                '.chosen-select-width'     : {width:"95%"}
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }

   </script>

    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>

    {%if edicion %}
        <script>
            $(document).ready(function(){
                $('#botonModalEdicion').click();
            });
        </script>
    {%endif%}

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.dataTables-example').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                }
            });

            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable( '../example_ajax.php', {
                "callback": function( sValue, y ) {
                    var aPos = oTable.fnGetPosition( this );
                    oTable.fnUpdate( sValue, aPos[0], aPos[1] );
                },
                "submitdata": function ( value, settings ) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition( this )[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            } );


        });

        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData( [
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row" ] );

        }
    </script>

    <style>
        body.DTTT_Print {
            background: #fff;

        }
        .DTTT_Print #page-wrapper {
            margin: 0;
            background:#fff;
        }

        button.DTTT_button, div.DTTT_button, a.DTTT_button {
            border: 1px solid #e7eaec;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }
        button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
            border: 1px solid #d2d2d2;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }

        .dataTables_filter label {
            margin-right: 5px;

        }
    </style>


{% endblock %}
